html{
	box-sizing: border-box;
	font-size: 62.5%;/*1rem =10px*/
}

*,
*:before,
*:after{
	box-sizing: inherit;
	text-decoration: none;

}

:root{
	--color-first:#1073BA;
	--color-second:#E51CC4;
	--color-dark:#2f3132;
	--color-white:#ffffff;
	--color-black:#000000;
	--color-light-grey:#e1e1e1;

	--font-main:'Roboto',sans-serif;
	--font-second:'Lato',sans-serif;
}

body{
	font-family: var(--font-main);
	font-size: 1.6rem;
	line-height: 1.5;
}

h1,h2,h3{
	font-weight: 900;
	font-family: var(--font-second);
	margin: 2.5rem 0;
}

h1{
	font-size: 1.4rem;

}

h2{
	font-size:3.6rem
}

h3{
	font-size:2.8rem
}

img{
	max-width: 100%;
	display: block;
	height: auto;
}

/*UTILIDADES*/
.text-center{
	text-align: center;
}

.container{
	width: 90%;
	max-width: 100rem;
	margin: 0 auto;

}

/*Header*/

.header{
	background-color: var(--color-black);
	padding: 1rem;
	color: var(--color-white);
}

.navbar{
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
	align-items: center;
	height: 6rem;
}

.navbar-logo{
	display: block;
	color: var(--color-white);

}

.navbar-logo h2{
	margin: 0;
	font-size: 2.8rem;

}

.nabvar-btn{
display: flex;
gap: 1rem;
}

.navbar-btn a{
	color: var(--color-light-grey);
	font-size: 2rem;
}

.navbar-btn a:hover{
	color: var(--color-white);
}

.navbar button{
	background-color: var(--color-black);
	color: var(--color-white);
	border:0.1rem solid var(--color-white);
	border-radius: 0.2rem;
	padding: 0.3rem 0.7rem;
	transition-duration: 0.3s;
}

.navbar button:hover{
 background-color: var(--color-white);
 color: var(--color-black);
 cursor: pointer;
}

